@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int countnguoidung = ViewBag.dsuser?.Count ?? 0;
    int sophantram = (countnguoidung > 0) ? (countnguoidung * 100) / countnguoidung : 0;

    int coutbaiviettieucuc = ViewBag.dsbaiviet?.Count ?? 0;
    int sophamtramtieucuc = (coutbaiviettieucuc > 0) ? (coutbaiviettieucuc * 100) / coutbaiviettieucuc : 0;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">Người dùng đăng ký online</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <p class="d-flex flex-column">
                            <span class="text-bold text-lg">@countnguoidung</span>
                            <span>Người dùng</span>
                        </p>
                        <p class="ml-auto d-flex flex-column text-right">
                            <span class="text-success">
                                <i class="fas fa-arrow-up"></i> @sophantram%
                            </span>
                            <span class="text-muted">Kể từ tháng trước </span>
                        </p>
                    </div>
                    <div class="position-relative mb-4">
                        <canvas id="visitors-chart" height="200"></canvas>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <span class="mr-2">
                            <i class="fas fa-square text-primary"></i> Tháng trước
                        </span>
                        <span>
                            <i class="fas fa-square text-gray"></i> Tháng sau
                        </span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Danh sách tài khoản admin</h3>
                    <div class="card-tools">
                        <a asp-controller="admin" asp-action="addquanlytaikhoan" class="btn btn-sm btn-tool">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-valign-middle">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Họ Và Tên</th>
                                <th>Quyền</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var admin in ViewBag.dsadmin)
                            {
                                <tr>
                                    <td>
                                        <img src="@admin.Photo" alt="Product 1" class="img-circle img-size-32 mr-2">
                                        @admin.Email
                                    </td>
                                    <td>@admin.Fullname</td>
                                    <td>@(admin.RoleId == 1 ? "Admin" : "User")</td>
                                    <td>
                                        <a asp-action="removetaikhoan" asp-route-id="@admin.Id" asp-controller="admin" onclick="return confirm('Bạn có muốn xóa?')">
                                            <img src="~/images/trash-can.png" width="20" height="20" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">Bài viết tiêu cực</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <p class="d-flex flex-column">
                            <span class="text-bold text-lg">@coutbaiviettieucuc</span>
                            <span>Tổng số lượng</span>
                        </p>
                        <p class="ml-auto d-flex flex-column text-right">
                            <span class="text-success">
                                <i class="fas fa-arrow-up"></i> @sophamtramtieucuc%
                            </span>
                            <span class="text-muted">Kể từ tháng trước</span>
                        </p>
                    </div>
                    <div class="position-relative mb-4">
                        <canvas id="sales-chart" height="200"></canvas>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <span class="mr-2">
                            <i class="fas fa-square text-primary"></i> Tích cực
                        </span>
                        <span>
                            <i class="fas fa-square text-gray"></i> Tiêu cực
                        </span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Người dùng có bài viết tiêu cực</h3>
                </div>
                <div class="card-body">
                    @foreach (var admin in ViewBag.dsbaiviet)
                    {
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                            <p class="text-success text-xl">
                                <i class="ion ion-ios-refresh-empty"></i>
                            </p>
                            <p class="d-flex flex-column text-right">
                                <span class="font-weight-bold">
                                    <i class="ion ion-android-arrow-up text-success"></i> 25%
                                </span>
                                <span class="text-muted">@admin.Fullname</span>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
